<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PicOrganizer</string>
	<key>CFBundleExecutable</key>
	<string>PicOrganizer</string>
	<key>CFBundleIconFile</key>
	<string>generated-0ea85e7c9a4b7635b3d573c544b1a2ac7dbca1b0d0a4919063251cb2a80e5b6a.icns</string>
	<key>CFBundleIdentifier</key>
	<string>PicOrganizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PicOrganizer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
